@{
    ViewBag.Title = "Home Page";
}

<h1 id="intro-header">Welcome To The National Parks Reservation Service</h1>

<br />

<div id="intro-container">
    <p>Here you can choose from one of our available parks and reserve a spot to stay at a campsite</p>
    <p>You can choose from either a specific campground or available campsites in the park</p>
    <p>We hope that you enjoy your stay!</p>
    <a href="@Url.Action("Index", "Interface")">Check available parks!</a>
</div>
